:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --color-blue-dark: #182833;
  --color-blue-medium: #153040;
  --color-blue-light: #1f4762;
  --color-gold: #fca311;
  --color-yellow: #ffc619;
  --color-brown: #e09f5a;
  --color-black: #000;
  --color-grey: #e5e5e5;
  --color-white: #fff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: #000;
  background-color: #182833;
  box-sizing: border-box;
  background-image: url("./assets/graph-paper.svg");
}
