:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #000;
  background-color: var(--color-grey);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --color-blue: #0766ad;
  --color-teal: #29adb2;
  --color-green: #c5e898;
  --color-grey: #eee;
  --color-white: #fff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-image: url("./assets/graph-paper.svg");
}
