:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #000;
  background-color: var(--color-grey);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --color-blue: #0766ad;
  --color-teal: #29adb2;
  --color-green: #c5e898;
  --color-grey: #eee;
  --color-white: #fff;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-image: url("./assets/graph-paper.svg");
}

button {
  width: 10rem;
  background-color: var(--color-teal);
  outline: none;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  color: var(--color-white);
}

.btn-icon {
  font-size: 2rem;
}
